--Download source code mien phi tai sharecode.vn
CREATE DATABASE QLThuVien 
ON 
     PRIMARY (NAME = QLThuVien_Data, 
     FILENAME = 'E:\Du An\QLThuVien_Data.MDF' , 
     SIZE = 50MB , 
     MAXSIZE = 200MB , 
     FILEGROWTH = 10MB) 
LOG ON (NAME = QLThuVien_Log , 
     FILENAME = 'E:\Du An\QLThuVien_Log.LDB' , 
     SIZE = 10MB, 
     FILEGROWTH = 5MB) 
GO
USE QLThuVien
GO
-----Tao cac bang
GO
CREATE TABLE SACH
(
	MaSach		CHAR(5) PRIMARY KEY,
	TenSach		NVARCHAR(200) NOT NULL,
	TheLoai		NVARCHAR(50) NOT NULL,
	TinhTrang	NVARCHAR(20),
	SoLuong		INT NOT NULL,
	NXB			NVARCHAR(200)NOT NULL,
	NamXB		NVARCHAR(20) NOT NULL,
	TG			NVARCHAR(200) NOT NULL,
	Hinh		IMAGE
)
GO
CREATE TABLE NHANVIEN
(
	MaNV		CHAR(5) PRIMARY KEY,
	TenNV		NVARCHAR(100) NOT NULL,
	NgaySinh    DATETIME NOT NULL,
	NgayVaoLam  DATETIME NOT NULL,
	Gioitinh	Bit NOT NULL,
	ChucVuNV	NVARCHAR(50) NOT NULL,
	DiaChiNV	NVARCHAR(200) NOT NULL,
	DienThoai	NVARCHAR(20)
)
select * from NHANVIEN
GO
CREATE TABLE THETHUVIEN
(
	MaThe		CHAR(5) PRIMARY KEY,
	TenSV		NVARCHAR(100) NOT NULL,
	Gioitinh	Bit NOT NULL,
	NgaySinh	DATETIME,
	DiaChiSV	NVARCHAR(200) NOT NULL,
	DienThoaiSV	NVARCHAR(20),
	NgayTao		DATETIME NOT NULL,
	NgayHetHan	DATETIME NOT NULL,
)
GO
CREATE TABLE PHIEUNHACTRA
(
	MaPNT		CHAR(5) PRIMARY KEY,
	MaThe		CHAR(5) NOT NULL,	
	NgayLap		DATETIME NOT NULL,
	DonGiaPhat	INT NOT NULL,
	MaNV		CHAR(5) NOT NULL,
	MaSach		CHAR(5) NOT NULL	
) 
GO
CREATE TABLE PHIEUMUON
(
	MaPM		CHAR(5) PRIMARY KEY,
	MaSach		CHAR(5) NOT NULL,
	MaThe		CHAR(5) NOT NULL,
	NgayMuon	DATETIME NOT NULL,
)
GO
CREATE TABLE SACHMUON
(
	MaPM		CHAR(5),
	MaSach		CHAR(5),
	TinhTrang	NVARCHAR(20),
	SLSachMuon	INT NOT NULL,
	NgayTra		DATETIME NOT NULL,
	PRIMARY KEY (MaPM,MaSach)
)
select * from SACH
GO
----------
USE QLThuVien
GO
---TẠO RÀNG BUỘC KHÓA NGOẠI
GO 
ALTER TABLE SACHMUON ADD CONSTRAINT FRK_SACHMUON_PHIEUMUON FOREIGN KEY(MaPM) REFERENCES PHIEUMUON(MaPM)
ALTER TABLE SACHMUON ADD CONSTRAINT FRK_SACHMUON_SACH FOREIGN KEY(MaSach) REFERENCES SACH(MaSach) 

ALTER TABLE PHIEUNHACTRA ADD CONSTRAINT FRK_PHIEUNHACTRA_NHANVIEN FOREIGN KEY(MaNV) REFERENCES NHANVIEN(MaNV) 
ALTER TABLE PHIEUNHACTRA ADD CONSTRAINT FRK_PHIEUNHACTRA_SACH FOREIGN KEY(MaSach) REFERENCES SACH(MaSach)  
ALTER TABLE PHIEUNHACTRA ADD CONSTRAINT FRK_PHIEUNHACTRA_THETHUVIEN FOREIGN KEY(MaThe) REFERENCES THETHUVIEN(MaThe) 

ALTER TABLE PHIEUMUON ADD CONSTRAINT FRK_PHIEUMUON_SACH FOREIGN KEY(MaSach) REFERENCES SACH(MaSach) 
ALTER TABLE PHIEUMUON ADD CONSTRAINT FRK_PHIEUMUON_THETHUVIEN FOREIGN KEY(MaThe) REFERENCES THETHUVIEN(MaThe)

-------------------------Tao cac rang buoc	
ALTER TABLE SACH ADD CONSTRAINT DEF_SACH_SoLuong  CHECK(SoLuong>0)
ALTER TABLE NHANVIEN ADD CONSTRAINT UNQ_NHANVIEN_TenNV_DiaChiNV UNIQUE(TenNV,DiaChiNV),
	CONSTRAINT DEF_NHANVIEN_NgaySinh DEFAULT(GETDATE()) FOR NgaySinh,
	CONSTRAINT DEF_NHANVIEN_NgayVaoLam DEFAULT(GETDATE()) FOR NgayVaoLam,
	CONSTRAINT DEF_NHANVIEN_DienThoai DEFAULT(N'Chua có') FOR DienThoai

ALTER TABLE THETHUVIEN ADD CONSTRAINT UNQ_THETHUVIEN_TenSV UNIQUE(TenSV,DiachiSV),
	CONSTRAINT DEF_THETHUVIEN_NgayTao DEFAULT(GETDATE()) FOR NgayTao,
	CONSTRAINT DEF_THETHUVIEN_NgayHetHan DEFAULT(GETDATE()) FOR NgayHetHan,
	CONSTRAINT DEF_THETHUVIEN_NgaySinh DEFAULT(GETDATE()) FOR NgaySinh,
	CONSTRAINT DEF_THETHUVIEN_DienThoaiSV DEFAULT(N'Chua có') FOR DienThoaiSV

ALTER TABLE SACHMUON ADD 
	CONSTRAINT CKH_SACHMUON_SLSachMuon CHECK(SLSachMuon>=0),
	CONSTRAINT DEF_SACHMUON_NgayTra DEFAULT(GETDATE()) FOR NgayTra

ALTER TABLE PHIEUNHACTRA ADD CONSTRAINT CHK_PHIEUNHACTRA_NgayLap DEFAULT(GETDATE()) FOR NgayLap,
	CONSTRAINT CKH_PHIEUNHACTRA_DonGiaPhat CHECK(DonGiaPhat>=0)
	
ALTER TABLE PHIEUMUON ADD CONSTRAINT CHK_PHIEUMUON_NgayMuon DEFAULT(GETDATE()) FOR NgayMuon
GO
USE QLThuVien
GO
select * from TAIKHOAN
-------------------truy vấn dữ liệu SACH
GO
CREATE PROC sp_LOADSACH
AS
	BEGIN
		SELECT * FROM SACH
	END
GO
CREATE PROC sp_SUASACH
@MaSach		CHAR(5),
@TenSach	NVARCHAR(200),
@TheLoai	NVARCHAR(50) ,
@TinhTrang	NVARCHAR(20),
@SoLuong	INT,
@NXB		NVARCHAR(200),
@NamXB		CHAR(4),
@TG			NVARCHAR(200),
@HINH		IMAGE=NULL
AS
	BEGIN
		IF NOT EXISTS(SELECT MaSach FROM SACH WHERE MaSach=@MaSach)
			RETURN 1---KO TON TAI SACH
		ELSE IF(@HINH is null)
		begin
		update SACH 
		SET TenSach=@TenSach,TheLoai=@TheLoai,TinhTrang=@TinhTrang,SoLuong=@SoLuong,NXB=@NXB,NamXB=@NamXB,TG=@TG
		WHERE MaSach=@MaSach   
		end 
		ELSE
		UPDATE SACH
		SET TenSach=@TenSach,TheLoai=@TheLoai,TinhTrang=@TinhTrang,SoLuong=@SoLuong,NXB=@NXB,NamXB=@NamXB,TG=@TG,Hinh=@HINH
		WHERE MaSach=@MaSach
	END
GO
CREATE PROC sp_LUUSACH
@MaSach		CHAR(5),
@TenSach	NVARCHAR(200),
@TheLoai	NVARCHAR(50) ,
@TinhTrang	NVARCHAR(20),
@SoLuong	INT,
@NXB		NVARCHAR(200),
@NamXB		CHAR(4),
@TG			NVARCHAR(200),
@HINH		IMAGE
AS
	BEGIN
		IF EXISTS(SELECT * FROM SACH WHERE MaSach=@MaSach)
			RETURN 1---TON TAI SACH
		INSERT INTO SACH VALUES (@MaSach,@TenSach,@TheLoai,@TinhTrang,@SoLuong,@NXB,@NamXB,@TG,@HINH)
	END
GO
CREATE PROC sp_XOASACH
@MASACH CHAR(5)
AS
	BEGIN
		IF EXISTS(SELECT * FROM PHIEUMUON WHERE MaSach=@MaSach)
			RETURN 1---TON TAI MASACH TRONG PMUON
		IF EXISTS(SELECT * FROM PHIEUNHACTRA WHERE MaSach=@MaSach)
			RETURN 2---TON TAI MASACH TRONG PNHACTRA
		IF EXISTS(SELECT * FROM SACHMUON WHERE MaSach=@MaSach)
			RETURN 3---TON TAI MASACH TRONG PNHACTRA
		DELETE FROM SACH
		WHERE MaSach=@MASACH
	END
GO
-----------------truy vấn dữ liệu SACHMUON
CREATE PROC sp_LOADSACHMUON
AS
	BEGIN
		SELECT MaPM,MaSach,TinhTrang,SLSachMuon,CONVERT(CHAR(10),NgayTra,103) as NgayTra FROM SACHMUON
	END
GO
select * from SACHMUON
GO
CREATE PROC sp_SUASACHMUON
	@MaPM		CHAR(5),
	@MaSach		CHAR(5),
	@TinhTrang	NVARCHAR(20),
	@SLSachMuon	INT,
	@NgayTra    DATETIME
AS
	BEGIN
		IF NOT EXISTS(SELECT * FROM SACH WHERE MaSach=@MaSach)
			RETURN 1---KO TON TAI SACH
		IF NOT EXISTS(SELECT * FROM PHIEUMUON WHERE MaPM=@MaPM)
			RETURN 2---KO TON TAI NHAXUATBAN
		UPDATE SACHMUON
		SET TinhTrang=@TinhTrang,SLSachMuon=@SLSachMuon,NgayTra=@NgayTra
		WHERE MaPM=@MaPM AND MaSach=@MaSach
	END
GO
CREATE PROC sp_LUUSACHMUON
	@MaPM		CHAR(5),
	@MaSach		CHAR(5),
	@SLSachMuon	INT,
	@TinhTrang	NVARCHAR(20),
	@NgayTra    DATETIME
AS
	BEGIN
		IF NOT EXISTS(SELECT * FROM
		
		 SACH WHERE MaSach=@MaSach)
			RETURN 1---KO TON TAI SACH
		IF NOT EXISTS(SELECT * FROM PHIEUMUON WHERE MaPM=@MaPM)
			RETURN 2---KO TON TAI PHIEUMUON
		INSERT INTO SACHMUON VALUES (@MaPM,@MaSach,@TinhTrang,@SLSachMuon,@NgayTra)
	END
GO
CREATE PROC sp_XOASACHMUON
@MAPM CHAR(5),
@MASACH CHAR(5)
AS
	BEGIN
		IF NOT EXISTS(SELECT * FROM SACHMUON WHERE MaPM=@MAPM)
			RETURN 1---TON TAI MA PMUON
		IF NOT EXISTS(SELECT * FROM SACHMUON WHERE MaSach=@MaSach)
			RETURN 2---TON TAI MASACH 
		DELETE FROM SACHMUON
		WHERE @MAPM=MaPM AND @MASACH=MaSach
	END
GO
SELECT * FROM SACHMUON
SELECT * FROM PHIEUMUON
-----------------truy vấn dữ liệu THETHUVI
GO
CREATE PROC sp_LOADTHETHUVIEN
AS
	BEGIN
		SELECT MaThe,TenSV,CASE WHEN Gioitinh=1 THEN 'Nam' ELSE N'Nữ' END AS Gioitinh,NgaySinh,DiaChiSV,DienThoaiSV,NgayTao,NgayHetHan FROM THETHUVIEN
	END
GO
CREATE PROC sp_SUATHETHUVIEN
	@MaThe		CHAR(5),
	@TenSV		NVARCHAR(100),
	@Gioitinh	Bit,
	@NgaySinh   DATETIME,
	@DiaChiSV	NVARCHAR(200),
	@DienThoai	NVARCHAR(20),
	@NgayTao	DATETIME ,
	@NgayHetHan	DATETIME 
AS
	BEGIN
		IF NOT EXISTS(SELECT * FROM THETHUVIEN WHERE MaThe=@MaThe)
			RETURN 1---KO TON TAI THETHUVIEN
		UPDATE THETHUVIEN
		SET TenSV=@TenSV,Gioitinh=@Gioitinh,NgaySinh=@NgaySinh,DiaChiSV=@DiaChiSV,DienThoaiSV=@DienThoai,NgayTao=@NgayTao,NgayHetHan=@NgayHetHan
		WHERE MaThe=@MaThe
	END
GO
CREATE PROC sp_LUUTHETHUVIEN
	@MaThe		CHAR(5),
	@TenSV		NVARCHAR(100),
	@Gioitinh	Bit,
	@NgaySinh   DATETIME,
	@DiaChiSV	NVARCHAR(200),
	@DienThoai	NVARCHAR(20),
	@NgayTao	DATETIME ,
	@NgayHetHan	DATETIME 
AS
	BEGIN
		IF  EXISTS(SELECT * FROM THETHUVIEN WHERE MaThe=@MaThe)
			RETURN 1
		INSERT INTO THETHUVIEN VALUES (@MaThe,@TenSV,@Gioitinh,@NgaySinh,@DiaChiSV,@DienThoai,@NgayTao,@NgayHetHan)
	END
GO
CREATE PROC sp_XOATHETHUVIEN
@MATHE CHAR(5)
AS
	BEGIN
		IF EXISTS(SELECT * FROM PHIEUMUON WHERE MaThe=@MATHE)
			RETURN 1---TON TAI the
		IF EXISTS(SELECT * FROM PHIEUNHACTRA WHERE MaThe=@MATHE)
			RETURN 1---TON TAI the
		DELETE FROM THETHUVIEN
		WHERE @MATHE=MaThe
	END
GO
-----------------truy vấn dữ liệu NHANVIEN
CREATE PROC sp_LOADNHANVIEN
AS
	BEGIN
		SELECT MaNV,TenNV,CONVERT(CHAR(10),NgaySinh,103) as NgaySinh,CONVERT(CHAR(10),NgayVaoLam,103) as NgayVaoLam,CASE WHEN Gioitinh=1 THEN 'Nam' ELSE N'NỮ' END AS Gioitinh,ChucVuNV,DiaChiNV,DienThoai FROM NHANVIEN
	END
GO
CREATE PROC sp_SUANHANVIEN
	@MaNV		CHAR(5),
	@TenNV		NVARCHAR(100),
	@NgaySinh	DATETIME,
	@Ngayvl		DATETIME,
	@Gioitinh	Bit,
	@ChucVuNV	NVARCHAR(50),
	@DiaChiNV	NVARCHAR(200),
	@DienThoai	NVARCHAR(20) 
AS
	BEGIN
		IF NOT EXISTS(SELECT * FROM NHANVIEN WHERE MaNV=@MaNV)
			RETURN 1----KO TON TAI MANV
		UPDATE NHANVIEN
		SET TenNV=@TenNV,NgaySinh=@NgaySinh,NgayVaoLam=@Ngayvl,Gioitinh=@Gioitinh,ChucVuNV=@ChucVuNV,DiaChiNV=@DiaChiNV,DienThoai=@DienThoai
		WHERE MaNV=@MaNV
	END
GO
CREATE PROC sp_LUUNHANVIEN
	@MaNV		CHAR(5),
	@TenNV		NVARCHAR(100),
	@NgaySinh	DATETIME,
	@Ngayvl		DATETIME,
	@Gioitinh	Bit,
	@ChucVuNV	NVARCHAR(50),
	@DiaChiNV	NVARCHAR(200),
	@DienThoai	NVARCHAR(20)  
AS
	BEGIN
		IF EXISTS(SELECT * FROM NHANVIEN WHERE MaNV=@MaNV)
			RETURN 1----TON TAI MANV
		INSERT INTO NHANVIEN VALUES (@MaNV,@TenNV,@NgaySinh,@Ngayvl,@Gioitinh,@ChucVuNV,@DiaChiNV,@DienThoai)
	END
GO
CREATE PROC sp_XOANHANVIEN
@MANV CHAR(5)
AS
	BEGIN
		IF EXISTS(SELECT * FROM PHIEUNHACTRA WHERE MaNV=@MaNV)
			RETURN 1----TON TAI MANV
		DELETE FROM NHANVIEN
		WHERE @MANV=MaNV
	END
GO
-----------------truy vấn dữ liệu PHIEUMUON
CREATE PROC sp_LOADPHIEUMUON
AS
	BEGIN
		SELECT MaPM,MaSach,MaThe,CONVERT(CHAR(10),NgayMuon,103) as NgayMuon FROM PHIEUMUON
	END
GO
CREATE PROC sp_SUAPHIEUMUON
	@MaPM		CHAR(5),
	@MaSach		CHAR(5),
	@MaThe		CHAR(5),
	@NgayMuon	DATETIME
AS
	BEGIN
		IF NOT EXISTS(SELECT * FROM PHIEUMUON WHERE MaPM=@MaPM)
			RETURN 1----KO TON TAI mapm
		IF NOT EXISTS(SELECT * FROM SACH WHERE MaSach=@MaSach)
			RETURN 2----KO TON TAI masach
		IF NOT EXISTS(SELECT * FROM THETHUVIEN WHERE MaThe=@MaThe)
			RETURN 3----KO TON TAI mathe
		UPDATE PHIEUMUON
		SET MaSach=@MaSach,MaThe=@MaThe,NgayMuon=@NgayMuon
		WHERE MaPM=@MaPM
	END
GO
CREATE PROC sp_LUUPHIEUMUON
	@MaPM		CHAR(5),
	@MaSach		CHAR(5),
	@MaThe		CHAR(5),
	@NgayMuon	DATETIME
AS
	BEGIN	
		IF EXISTS(SELECT * FROM PHIEUMUON WHERE MaPM=@MaPM)
			RETURN 1----TON TAI mapm
		IF NOT EXISTS(SELECT * FROM SACH WHERE MaSach=@MaSach)
			RETURN 2----KO TON TAI masach
		IF NOT EXISTS(SELECT * FROM THETHUVIEN WHERE MaThe=@MaThe)
			RETURN 3----KO TON TAI mathe
		INSERT INTO PHIEUMUON VALUES (@MaPM,@MaSach,@MaThe,@NgayMuon)
	END
GO
CREATE PROC sp_XOAPHIEUMUON
@MAPM CHAR(5)
AS
	BEGIN
		IF EXISTS(SELECT * FROM SACHMUON WHERE MaPM=@MaPM)
			RETURN 1----TON TAI mapm trong sachmuon
		DELETE FROM PHIEUMUON
		WHERE @MAPM=MaPM
	END
GO
-----------------truy vấn dữ liệu PHIEUNHACTRA
CREATE PROC sp_LOADPHIEUNHACTRA
AS
	BEGIN
		SELECT MaPNT,MaThe,CONVERT(CHAR(10),NgayLap,103)as NgayLap,DonGiaPhat,MaNV,MaSach FROM PHIEUNHACTRA
	END
GO
CREATE PROC sp_SUAPHIEUNHACTRA
	@MaPNT		CHAR(5),
	@MaThe		CHAR(5),
	@NgayLap	DATETIME,
	@DonGiaPhat	INT,
	@MaNV		CHAR(5),
	@MaSach		CHAR(5)
AS
	BEGIN
		IF NOT EXISTS(SELECT * FROM PHIEUNHACTRA WHERE MaPNT=@MaPNT)
			RETURN 1----KO TON TAI mapNT
		IF NOT EXISTS(SELECT * FROM NHANVIEN WHERE MaNV=@MaNV)
			RETURN 2----KO TON TAI maNV
		IF NOT EXISTS(SELECT * FROM THETHUVIEN WHERE MaThe=@MaThe)
			RETURN 3----KO TON TAI mathe
		IF NOT EXISTS(SELECT * FROM SACH WHERE MaSach=@MaSach)
			RETURN 4----KO TON TAI maSACH
		UPDATE PHIEUNHACTRA
		SET MaThe=@MaThe,NgayLap=@NgayLap,DonGiaPhat=@DonGiaPhat,MaNV=@MaNV,MaSach=@MaSach
		WHERE MaPNT=@MaPNT
	END
GO
CREATE PROC sp_LUUPHIEUNHACTRA
	@MaPNT		CHAR(5),
	@MaThe		CHAR(5),
	@NgayLap	DATETIME,
	@DonGiaPhat	INT,
	@MaNV		CHAR(5),
	@MaSach		CHAR(5)
	
AS
	BEGIN
		IF EXISTS(SELECT * FROM PHIEUNHACTRA WHERE MaPNT=@MaPNT)
			RETURN 1----TON TAI mapNT
		IF NOT EXISTS(SELECT * FROM NHANVIEN WHERE MaNV=@MaNV)
			RETURN 2----KO TON TAI maNV
		IF NOT EXISTS(SELECT * FROM THETHUVIEN WHERE MaThe=@MaThe)
			RETURN 3----KO TON TAI mathe
		IF NOT EXISTS(SELECT * FROM SACH WHERE MaSach=@MaSach)
			RETURN 4----KO TON TAI maSACH
		INSERT INTO PHIEUNHACTRA VALUES (@MaPNT,@MaThe,@NgayLap,@DonGiaPhat,@MaNV,@MaSach)
	END
GO
CREATE PROC sp_XOAPHIEUNHACTRA
@MAPNT CHAR(5)
AS
	BEGIN
		DELETE FROM PHIEUNHACTRA
		WHERE @MAPNT=MaPNT
	END
GO
-----------------------------------------------
GO
CREATE TABLE TAIKHOAN
(
	tendn nvarchar(100)not null primary key,
	mk nvarchar(100)not null,
	nhmk nvarchar(100) not null,
)
go
create proc sp_doctk
@tendn nvarchar(100),
@mk nvarchar(100)
as
	begin
		select TAIKHOAN.tendn,mk from TAIKHOAN where tendn=@tendn 
	end
GO	
create proc sp_luutk
@tendn nvarchar(100),
@mk nvarchar(100),
@nhmk nvarchar(100)
as
	begin
		insert into TAIKHOAN values (@tendn,@mk,@nhmk) 
	end
-----------------------------dem tong
go
alter proc sp_dem
as
begin
	select count(*) from SACH
end

select * from PHIEUNHACTRA
--------------Download source code mien phi tai sharecode.vn
go
CREATE PROC sp_Docphieumuonsinhvien
@mathe char(3)
AS
BEGIN
	SELECT B.MaPM,A.MaSach,NgayMuon
	FROM SACH A, PHIEUMUON B
	WHERE A.MaSach=B.MaSach and MaThe=@mathe
END
go
ALTER PROC sp_Luuphieumuonsinhvien
@MaPM		CHAR(5),
@MaSach		CHAR(5),
@MaThe		CHAR(5),
@NgayMuon	DATETIME
AS
	BEGIN	
		IF EXISTS(SELECT count(MaThe) FROM PHIEUMUON GROUP BY PHIEUMUON.MaThe HAVING COUNT(MaThe)>3 )
			RETURN 4----TON TAI mapm
		IF EXISTS(SELECT * FROM PHIEUMUON WHERE MaPM=@MaPM)
			RETURN 1----TON TAI mapm
		IF NOT EXISTS(SELECT * FROM SACH WHERE MaSach=@MaSach)
			RETURN 2----KO TON TAI masach
		IF NOT EXISTS(SELECT * FROM THETHUVIEN WHERE MaThe=@MaThe)
			RETURN 3----KO TON TAI mathe
		INSERT INTO PHIEUMUON VALUES (@MaPM,@MaSach,@MaThe,@NgayMuon)
	END
GO
CREATE PROC sp_Xoaphieumuonsinhvien
@MAPM CHAR(5)
AS
	BEGIN
		IF EXISTS(SELECT * FROM SACHMUON WHERE MaPM=@MaPM)
			RETURN 1----TON TAI mapm trong sachmuon
		DELETE FROM PHIEUMUON
		WHERE @MAPM=MaPM
	END
GO
----------------------
CREATE PROC sp_Docphieunhactrasinhvien
@mathe char(5)
AS
BEGIN
	SELECT B.MaPNT,NgayLap,DonGiaPhat,N.MaNV,A.MaSach,Ghichu
	FROM SACH A, PHIEUNHACTRA B,NHANVIEN N, THETHUVIEN T
	WHERE A.MaSach=B.MaSach AND B.MaNV=N.MaNV AND B.MaThe=T.MaThe and B.MaThe=@mathe
END
